/* style.css */
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
ul{ list-style-type: none;}
a{ 
  text-decoration: none;
  color: #222328;
}
body{
  font-family: "맑은 고딕", sans-serif;
  background: #fff;
  color: #222328;
  font-size: 100%;
}

header, #visual, #contents, footer{
  width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}

header{
  position: relative;
  height: 100px;
  /* background: #efefef; */
}
header h1{
  position: absolute;
  left: 20px; top: 25px;
}
header nav{
  position: absolute;
  right: 20px; top: 30px;
}
header nav .depth1 > li{
  float: left;
  width: 120px;
  text-align: center;
  /* border: 1px solid red; */
}
/* 1단계 메뉴 hover */
header nav .depth1 > li:hover{
  background: #efefef;
}
/* 1단계 hover시 2단계 메뉴 표시 */
header nav .depth1 > li:hover .depth2{
  /* display: block; */
  height: 180px;
  opacity: 1;
}

header nav .depth1 > li a{
  display: block;
  padding: 10px 0;
}
header nav .depth1 > li > a{
  font-size: 18px;
  font-weight: bold;  
}

/* 2단계 메뉴(기본 비표시) */
header nav .depth2{
  /* border: 1px solid red; */
  margin-top: 25px;
  /* display: none; */
  height: 0;
  opacity: 0;
  transition: 0.4s;
  overflow: hidden;
}
/* hover */
header nav .depth2 > li:hover{
  background: #fff;
}

header nav .depth2 li {
  background: #eee;
}

